.container {
  background-color: #FFFFFF;
  margin-top: -10px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 1442px;
}

.adbody {
  font-family: 'ABC Diatype Semi-Mono Edu-Light';
  font-style: normal;
  font-weight: 263;
  font-size: 36px;
  line-height: 46px;
  color: #261824;
  flex: none;
  order: 0;
  flex-grow: 1;
  border-bottom: 0.5px solid #261824;
  // padding-top: 22px;
  // margin: -12px;
  // padding: 20px;
  // margin-bottom: -4px;
  width: 100vw;

  margin-left: -11px;
  // margin: 0px;
  margin-bottom: 0px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

// #col::after {
//   column-count: 2;
//   border-right: 0.5px solid #261824 ;
//   column-rule-style: solid;
//   column-rule-width: 0.5px;
//   // column-rule: 0.5px solid;
//   margin: -12px;
//   // break-after: column;
// }

#col {
}

// .column::after {
//   column-fill: auto;
//   break-after: column;
//   // float: left;
//   // overflow: scroll;
//   // display: grid;
//   // grid-auto-flow: column;
//   // gap: 5%;
// }
