.container {
  background-color: #FFFFFF;
  margin-top: -10px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 1442px;

  // Removes padding in all grid views
  padding-left: 0;
}

// *********************** GRID CLASSES ************************** //

// -------------------- GRID WITH 1 COLUMN -------------------- //

.grid1-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#grid1-center {
  flex: 1 1 0;
  overflow-y: scroll;
  margin-top: 10px;
}

.grid1-adbody {
  border-bottom: 0px solid #261824;

  p {
    font-family: 'ABC Diatype Semi-Mono Edu-Light';
    font-style: normal;
    font-weight: 263;
    font-size: 36px;
    line-height: 46px;
    color: #261824;
  }
}

// -------------------- GRID WITH 2 COLUMNS -------------------- //

.grid2-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#grid2-left,
#grid2-right {
  flex: 1 1 0;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-top: 10px;
}

.grid2-adbody {
  border-right: 0.5px solid #261824;

  p {
    font-family: 'ABC Diatype Semi-Mono Edu-Light';
    font-style: normal;
    font-weight: 263;
    font-size: 24px;
    line-height: 32px;
    color: #261824;
  }
}

// -------------------- GRID WITH 4 COLUMNS -------------------- //

.grid4-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#grid4-first,
#grid4-second,
#grid4-third,
#grid4-fourth {
  flex: 1 1 0;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-top: 10px;
}

.grid4-adbody {
  border-right: 0.5px solid #261824;

  p {
    font-family: 'ABC Diatype Semi-Mono Edu-Light';
    font-style: normal;
    font-weight: 263;
    font-size: 16px;
    line-height: 24px;
    color: #261824;
  }
}

// -------------------- GRID WITH 6 COLUMNS -------------------- //

.grid6-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#grid6-first,
#grid6-second,
#grid6-third,
#grid6-fourth,
#grid6-fifth,
#grid6-sixth {
  flex: 1 1 0;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-top: 10px;
}

.grid6-adbody {
  border-right: 0.5px solid #261824;

  p {
    font-family: 'ABC Diatype Semi-Mono Edu-Light';
    font-style: normal;
    font-weight: 290;
    font-size: 12px;
    line-height: 20px;
    color: #261824;
    font-variation-settings: 'MONO' 0.5;
  }
}
