// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family: "ABC Diatype Mono Variable Edu";
  src: font-url('ABCDiatypeMonoVariableEdu.eot');
  src: font-url('ABCDiatypeMonoVariableEdu.eot?#iefix') format('embedded-opentype'),
       font-url('ABCDiatypeMonoVariableEdu.woff') format('woff'),
       font-url('ABCDiatypeMonoVariableEdu.ttf') format('truetype')
}
$my-font: "ABC Diatype Mono Variable Edu";

@font-face {
  font-family: "ABC Diatype Semi-Mono Edu-Light";
  src: font-url('ABCDiatypeSemi-MonoEdu-Light.eot');
  src: font-url('ABCDiatypeSemi-MonoEdu-Light.eot?#iefix') format('embedded-opentype'),
       font-url('ABCDiatypeSemi-MonoEdu-Light.woff') format('woff'),
       font-url('ABCDiatypeSemi-MonoEdu-Light.ttf') format('truetype');

}
$my-font: "ABC Diatype Semi-Mono Edu-Light";

@font-face {
  font-family: "ABC Diatype Edu-Light";
  src: font-url('ABCDiatypeEdu-Light.eot');
  src: font-url('ABCDiatypeEdu-Light.eot?#iefix') format('embedded-opentype'),
       font-url('ABCDiatypeEdu-Light.woff') format('woff'),
       font-url('ABCDiatypeEdu-Light.ttf') format('truetype');

}
$my-font: "ABC Diatype Edu-Light";

@font-face {
  font-family: "ABC Diatype Variable Edu";
  src: font-url('ABCDiatypeVariableEdu.eot');
  src: font-url('ABCDiatypeVariableEdu.eot?#iefix') format('embedded-opentype'),
       font-url('ABCDiatypeVariableEdu.svg#ABCDiatypeVariableEdu') format('svg'),
       font-url('ABCDiatypeVariableEdu.woff') format('woff'),
       font-url('ABCDiatypeVariableEdu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
$my-font: "ABC Diatype Variable Edu";

@font-face {
  font-family: "ABC Diatype Mono Edu-Light";
  src: font-url('ABCDiatypeMonoEdu-Light.eot');
  src: font-url('ABCDiatypeMonoEdu-Light.eot?#iefix') format('embedded-opentype'),
       font-url('ABCDiatypeMonoEdu-Light.svg#ABCDiatypeMonoEdu-Light') format('svg'),
       font-url('ABCDiatypeMonoEdu-Light.woff') format('woff'),
       font-url('ABCDiatypeMonoEdu-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
$my-font: "ABC Diatype Mono Edu-Light";
