.container {
  background-color: #FFFFFF;
}

p {

width: 1408px;
height: 184px;

font-family: "ABC Diatype Variable Edu";
font-style: normal;
font-weight: 263;
font-size: 36px;
line-height: 46px;

color: #261824;

border-bottom: 0.5px solid #261824 ;
}
