<div data-refresh-content-target="content" class="container">

  <div class="adbody">
    <% @ads.each do |ad| %>
      <%= ad.content %>
      <br>
      <small>(<%= ad.decade %>)</small>
      <hr>
    <% end %>
  </div>

</div>
