  <div class="adbodyphrases">
    <% @ads.each do |ad| %>
        <div class="ads">
            <%= ad.content %>
        </div>
      <hr style="margin-top: 0px; margin-bottom: 0px;">
    <% end %>
  </div>
  <br>
  <br>
