<div data-refresh-content-target="content" class="container">
  <div class="row">
    <div class="adbody">
      <% @phrases.each do |phrase| %>

          <%= phrase.title %>

          <%# <br> %>

      <% end %>
    </div>
  </div>
</div>
