<div data-refresh-content-target="content" class="container">

  <div class="adbody">
    <% @phrases.each do |phrase| %>


        <%= link_to phrase.title, ads_phrase_path(phrase)  %>

        <br>

    <% end %>
  </div>

</div>
