<% categories.each do |category| %>

  <div class="subnav">
    <button class="subnavbtn"><%= category.title %></button>
    <div class="subnav-content">
        <%= render "shared/subcategory", subcategories: category.subcategories %>
    </div>
       <%# <div class="bar"></div> %>

  </div>

<% end %>
