<div class="footer" data-refresh-content-target="footer">
  <a href="/ads" class="link">
    <div class="left-title">Alle Anzeigen</div>
    <div class="bar"></div>
  </a>
  <div class="menu">
    <a href="/ads" class="link decade" data-action="click->refresh-content#update">
      <div class="title">1919-1933</div>
      <div class="bar"></div>
    </a>
    <a href="/ads" class="link decade" data-action="click->refresh-content#update">
      <div class="title">1950's</div>
      <div class="bar"></div>
    </a>
     <a href="/ads" class="link decade" data-action="click->refresh-content#update">
      <div class="title">1970's</div>
      <div class="bar"></div>
    </a>
     <a href="/ads" class="link decade" data-action="click->refresh-content#update">
      <div class="title">1980's</div>
      <div class="bar"></div>
    </a>
    </a>
     <a href="/ads" class="link decade" data-action="click->refresh-content#update">
      <div class="title">1990's</div>
      <div class="bar"></div>
    </a>
  </div>
  <div class=right-footer>
    <a href="/phrases" class="link">
      <div class="right-title">Wörter</div>
      <div class="bar"></div>
    </a>
     <a href="#" class="link">
      <div class="right-title" style="margin-right: 114px;">über dieses Projekt</div>
      <div class="bar"></div>
    </a>
  </div>
</div>

<div class="buttons">
  <button id="btn" class="grid" onclick="listView()"></button>
  <button id="btn" class="grid2" onclick="gridView()"></button>
  <button id="btn"class="grid4" onclick="grid2View()"></button>
  <button id="btn" class="grid6" onclick="grid4View()"></button>
</div>


<%# one button changing backgroundColor %>
<script>
  const btn = document.getElementById('btn');

  let index = 0;

  const colors = ['salmon', 'green', 'blue', 'purple'];

  btn.addEventListener('click', function onClick() {
    btn.style.backgroundColor = colors[index];
    btn.style.color = 'white';

    index = index >= colors.length - 1 ? 0 : index + 1;
  });
</script>
