<div class="footer">
    <a href="#" class="link">
      <div class="left-title">Alle Anzeigen</div>
      <div class="bar"></div>
    </a>
  <div class="menu">
    <a href="#" class="link">
      <div class="title">1919-1933</div>
      <div class="bar"></div>
    </a>
    <a href="#" class="link">
      <div class="title">1950's</div>
      <div class="bar"></div>
    </a>
    <a href="#" class="link">
      <div class="title">1960's</div>
      <div class="bar"></div>
    </a>
     <a href="#" class="link">
      <div class="title">1970's</div>
      <div class="bar"></div>
    </a>
     <a href="#" class="link">
      <div class="title">1980's</div>
      <div class="bar"></div>
    </a>
    </a>
     <a href="#" class="link">
      <div class="title">1990's</div>
      <div class="bar"></div>
    </a>
  </div>
  <div class=right-footer>
    <a href="#" class="link">
      <div class="right-title">Wörter</div>
      <div class="bar"></div>
    </a>
     <a href="#" class="link">
      <div class="right-title">über dieses Projekt</div>
      <div class="bar"></div>
    </a>
  </div>
</div>
