<div class="grid-phrases-wrapper">

  <%# First column %>
  <div id="grid4-first">
    <div class="phrases-rows-wrapper">
      <% phrases.each do |phrases_row| %>

        <div class="phrases-grid">
          <% phrases_row.each do |phrase| %>

            <p><%= phrase.title %></p>

          <% end %>
        </div>

      <% end %>
    </div>
  </div>

  <%# Second column %>
  <div id="grid4-second">
    <div class="phrases-rows-wrapper">
      <% phrases.each do |phrases_row| %>

        <div class="phrases-grid">
          <% phrases_row.each do |phrase| %>

            <p><%= phrase.title %></p>

          <% end %>
        </div>

      <% end %>
    </div>
  </div>

  <%# Third column %>
  <div id="grid4-third">
    <div class="phrases-rows-wrapper">
      <% phrases.each do |phrases_row| %>

        <div class="phrases-grid">
          <% phrases_row.each do |phrase| %>

            <p><%= phrase.title %></p>

          <% end %>
        </div>

      <% end %>
    </div>
  </div>

  <%# Fourth column %>
  <div id="grid4-fourth">
    <div class="phrases-rows-wrapper">
      <% phrases.each do |phrases_row| %>

        <div class="phrases-grid">
          <% phrases_row.each do |phrase| %>

            <p><%= phrase.title %></p>

          <% end %>
        </div>

      <% end %>
    </div>
  </div>

</div>
