<%# Splitting ads array into two equally-sized (+/-1) parts %>
<% divided_ads = ads.each_slice((ads.size/2.0).round).to_a %>

<div class="grid2-wrapper">

  <%# First column %>
  <div id="grid2-left">
    <% divided_ads[0].each do |ad| %>

        <div class="adbody">
        <%= ad.content %>
        </div>

    <% end %>
  </div>

  <%# Second column %>
  <div id="grid2-right">
    <% divided_ads[1].each do |ad| %>

        <div class="adbody">
        <%= ad.content %>
        </div>

    <% end %>
  </div>

</div>
