<div class="grid-phrases-wrapper">

  <div class="phrases-rows-wrapper">
    <% phrases.each do |phrases_row| %>

      <div class="phrases-grid">
        <% phrases_row.each do |phrase| %>

          <p><%= phrase.title %></p>

        <% end %>
      </div>

    <% end %>
  </div>

</div>
