<div class="header">
  <div class="menu">
    <a href="#" class="link">
      <div class="title">über mich</div>
      <div class="bar"></div>
    </a>
    <a href="#" class="link">
      <div class="title">über dich</div>
      <div class="bar"></div>
    </a>
    <a href="#" class="link">
      <div class="title">Ich Suche</div>
      <div class="bar"></div>
    </a>
  </div>
</div>
