<% subcategories.each do |subcategory| %>

  <div class="subnav1">
    <button class="subnavbtn1"><%= subcategory.title %></button>
    <div class="subnav-content1 disable-scrollbars">
      <%= render "shared/phrase", phrases: subcategory.phrases %>
    </div>
  </div>

<% end %>
