<%# <h1>ABOUT PAGE</h1> %>

<p>DU&ICH ist ein interaktives Archiv, eine textbasierte Plattform mit den Inhalten von 600 Anzeigen freundschaftssuchender Männer.
Alle Anzeigen stammen aus deutschen Zeitschriften, die zwischen 1919 und 2000 erschienen sind.</p>

<p>Die Anzeigen wurden von mir aus verschiedenen Gründen ausgewählt und betreffen allgemeine Themen wie
Sprache, Geschichte, Soziales, Alltag, Sexualität, kulturelle Bezüge, Religion, Rassismus, Altersunterschied und mehr.
Auch persönliche Interessen spielten bei meiner Kuratierung eine große Rolle. Themen wie Humor, Poesie, Anonymität, Selbsthass, Einsamkeit, Verschlossenheit,
besondere Vorlieben etc. liegen mir am Herzen und waren die Verbindung und Ambition für meine Arbeit.
</p>

<p>Das erste Projektziel bestand darin zu recherchieren und herauszufinden, ob es im Deutschland des 20.
Jahrhunderts eine DNA der schwulen Sprache gibt. Beim Durchstöbern von Tausenden von Freundschaftsanzeigen entdeckte ich Wörter,
die mich faszinierten und dazu anregten, mehr zu lesen: Wörter, die nicht mehr verwendet werden, Begriffe,
die historische Veränderungen überstanden haben. Dabei lernte ich den Alltag deutscher Schwuler in (meist dunklen) und hellen Zeiten kennen.
</p>

<p>Das zweite Ziel war, den unbesungenen Helden Tribut zu zollen, ein Denkmal für schwule Männer zu schaffen,
die meiner Generation den Weg geebnet haben. Diese Männer waren vor dem Gesetz kriminell (offiziell bis 1994) und mussten Wege finden,
ihre Träume und Bedürfnisse zu erfüllen. Ich lese die Anzeigen ohne Urteil, aber mit Respekt und stelle mir vor,
welche Gedanken sie sich bei der Wahl ihrer Worte gemacht haben, das Warten auf einen Umschlag von einem zukünftigen Liebhaber oder Freund, ihre Verzweiflung, ihre Freude.
</p>

<p>Zeitleiste der LGBT-Geschichte in Deutschland</p>

<p>1869: In einem offenen Brief an den preußischen Justizminister verwendet Karoly Maria Kertbeny das Wort
„homosexuell“ erstmals in einem öffentlichen Forum. Der deutsche Arzt Karl Friedrich Otto von Westphal veröffentlicht einen Artikel in einem wissenschaftlichen Journal,
der die „gegensätzliche sexuellen Gefühle“ erstmals aus dem Blickwinkel der beginnenden Fachrichtung Psychiatrie betrachtet, für ihn ist die Homosexualität eher eine
Krankheit als ein moralisches Versagen und er plädiert für die Entkriminalisierung, damit es den Betroffenen leichter fällt, sich in ärztliche Behandlung zu begeben.
</p>

<p>1871: Homosexuelle Handlungen zwischen Männern werden trotz Protesten in Deutschland durch den Paragraphen 175 des Reichsstrafgesetzbuches unter Strafe gestellt.
In der Folge werden von der Kriminalpolizei Homosexuellenlisten angelegt.</p>

<p>1896: Das erste erfolgreiche regelmäßig erscheinende Magazin für Homosexuelle in Deutschland Der Eigene wird erstmals auf Staten Island, New York, verlegt.</p>

<p>1897: Magnus Hirschfeld gründet am 14. Mai das Wissenschaftlich-humanitäre Komitee, um die Förderung homosexueller Rechte und die Aufhebung des Paragraphen 175 zu organisieren.</p>

<p>1919: Magnus Hirschfeld gründet das Institut für Sexualwissenschaft in Berlin.</p>

<p>1919: Im August startet das schwule Magazin Die Freundschaft vom Verleger Karl Schulz in Berlin.</p>

<p>1933: Die Nationalsozialistische Deutsche Arbeiterpartei (NSDAP) verbietet alle homosexuellen Vereinigungen.
Homosexuelle werden in Konzentrationslager verbracht. Die Bibliothek in Magnus Hirschfelds Institut für Sexualwissenschaft wird verbrannt, das Institut vernichtet.</p>

<p>1937: Der rosa Winkel wird erstmals für schwule Männer in deutschen Konzentrationslagern verwendet.</p>

<p>1945: Bei der Befreiung der deutschen Konzentrationslager durch die Alliierten wurden diejenigen, die wegen homosexueller Vorwürfe interniert waren, nicht befreit; sie mussten ihre Strafen gemäß dem Paragraphen 175 abbüßen.</p>

<p>1968: Paragraph 175 wird in Ostdeutschland abgeschwächt, homosexuelle Handlung sind für über 18-Jährige zukünftig straffrei.</p>

<p>1969: Paragraph 175 wird in Westdeutschland abgemildert.</p>

<p>1994: Nach der deutschen Wiedervereinigung urteilt der BGH, dass das Schutzalter für Sex angeglichen werden muss.</p>

<p>1994: Deutschland streicht am 11. Juni den § 175 StGB (Strafgesetzbuch), der unter veränderten Bedingungen sexuelle Handlungen zwischen Männern unter Strafe stellte.</p>

<p>2000: Der deutsche Bundestag entschuldigt sich offiziell bei den Schwulen und Lesben, die unter den Nationalsozialisten verfolgt wurden und für den Schaden, der homosexuellen Bürgern bis 1969 zugefügt wurde.</p>

<p>Zeitschriften</p>

<p>Die Freundschaft - 1919-1933</p>

<p>Die Freundschaft (oder nur: Freundschaft) war eine deutsche Zeitschrift für homosexuelle Männer, die von 1919 bis 1933 erschien. Sie wird heute als wichtigste deutsche Homosexuellenzeitschrift der Weimarer Republik, insbesondere in der Zeit bis 1922, angesehen.</p>

<p>Mit der Zeitschrift wurden nicht Schwule und Lesben, sondern meistens Freunde und Freundinnen angesprochen.[2]
Freundschaft als Metapher für Homosexualität zu verwenden war für die Homosexuellenbewegung der 1920er-Jahre (und später in den 1950er-Jahren) typisch.
Einige spätere Hefte trugen Untertitel wie Monatsschrift für ideale Freundschaft oder - etwas deutlicher - Monatsschrift für den Befreiungskampf andersveranlagter Männer und Frauen.
In ihren Überschriften - insbesondere zum § 175 StGB wie Aufhebung des § 175 (Heft 1) - machte die Zeitschrift jedoch unmissverständlich deutlich, für wen sie das Sprachrohr sein wollte.</p>

<p>Es gibt Publizisten, die davon ausgehen, dass es vor allem die Kontaktanzeigen gewesen seien, die Schwule und Lesben zum Kauf dieser Zeitschrift reizten.
Erwin In het Panhuis hat die Kontaktanzeigen in der Freundschaft von August 1919 bis Dezember 1920 für Köln näher untersucht.
Dabei hat er rund 80 schwule Kontaktanzeigen aus Köln gefunden. In anderer Form als heute verdeutlichen sie, welche Attribute und Eigenschaften den Homosexuellen früher als wichtig erschienen,
was sich in den Alters- und Berufsangaben sowie in den Hinweisen auf soziale Stellung und Attraktivität widerspiegelt.
In der Partnerbeschreibung werden als gewünschte Eigenschaften häufig Treue und Aufrichtigkeit angegeben. Mehr als heute arbeitete man mit Chiffrierungen - schließlich wollte die Redaktion keine Strafanzeige wegen
Kuppelei riskieren und die Leserschaft keine Erpresser auf sich aufmerksam machen. Weil es aufgrund der Kontaktanzeigen aber doch oft zu Erpressungen kam, wurden sie später nur noch separat an Abonnenten verschickt.</p>

<p>Der Eigene - 1896-1932</p>

<p>Der Eigene, „ein Blatt für männliche Kultur“ (so einer der Untertitel) war die erste Homosexuellen-Zeitschrift der Welt,
die von 1896 bis 1932 von Adolf Brand (1874-1945) herausgegeben wurde. Die ersten zehn Nummern erschienen vierteljährlich, dann kam Der Eigene im monatlichen Rhythmus heraus, aber teils unregelmäßig und mit Unterbrechungen.</p>

<p>Bis November 1919 nahm Brand die Herausgabe von Der Eigene wieder auf, der ersten Ausgabe seit 1906. Mit der Lockerung der Zensurgesetze druckte er regelmäßig Fotos von fast nackten Jungen, Jugendlichen und jungen Männern.</p>

<p>Obwohl Brand 1922 wegen des Verbrechens der "Werbung" zensiert und mit einer Geldstrafe von fünftausend Mark (eine relativ bescheidene Summe angesichts des Verlaufs der deutschen Inflation) belegt wurde - die Anklage war nicht anti-homosexuell, da heterosexuelle Veröffentlichungen für Kontaktanzeigen ähnlich zensiert wurden, nahm Brand später wieder auf Herausgabe der Extrapost, jedoch ohne offene Verteilung an Kiosken.</p>

<p>Eros - 1927-1931</p>

<p>eine erfolgreichere Zeitschrift, die persönliche Anzeigen enthielt und von 1927 bis 1931 erschien. Die Anzeigen in Eros wurden von Männern aus Schweden, der Schweiz, Irland, Russland, England, Frankreich und den Vereinigten Staaten veröffentlicht.“</p>

<p>Die Insel - der Freundschaft und Toleranz - 1952-1970</p>

<p>Die Namensgleichheit mit der legendären Zeitschrift Die Insel - Das Magazin der Ehelosen und Einsamen aus den zwanziger Jahren war beabsichtigt. 1952 erwirkte der Stuttgarter Inselverlag per Gerichtsurteil jedoch die Namensänderung zu Der Weg zu Freundschaft und Toleranz. Das Heft wurde dann noch 18 Jahre bis 1970 herausgegeben. Anfangs war es sicher klassische „Bückware“, die unter dem Tresen lag.</p>

<p>Das Magazin belegt, dass es in den fünfziger und sechziger Jahren in Deutschland neben dunklen heimlichen Kneipen und Parks noch eine andere Szene für Homosexuelle gab - noch vor Stonewall.</p>

<p>DU&ICH - 1969-2014</p>

<p>DU&ICH war eine von 1969 bis 2014 in verschiedenen Verlagen erschienene deutsche Zeitschrift mit der Zielgruppe schwule Männer.</p>

<p>Die erste Ausgabe des Magazins erschien am 1. Oktober 1969. Am 1. September war die Novellierung des § 175 in Kraft getreten und homosexuelle Kontakte unter erwachsenen Männern waren nicht mehr verboten. Aus diesem Grund nannte es sich auch eine Zeit lang das Nachseptembermagazin.</p>

<p>Der homosexuelle Mann  ...  KOLUMNE VON ELMAR KRAUSHAAR  /  9. 9. 2014
… verliert unwiederbringlich sein traditionell wichtigstes Medium zur Kontaktaufnahme: die Kleinanzeige. Netzwerke wie GayRomeo oder Grindr haben sich als Datingportale durchgesetzt,
sind unschlagbar schnell in der Kontaktanbahnung, bis ins Detail können Wünsche und Begehren eingekreist und erfüllt werden. Die wenig verbliebenen schwulen Zeitschriften haben diese Konkurrenz zu spüren bekommen,
ihre Anzeigenrubriken gestrichen oder ihr Erscheinen gleich ganz eingestellt. Denn zur Finanzierung der Presseerzeugnisse brauchte es auch immer die Einnahmen aus den Kontaktanzeigen.
Das war bereits 1922 Max H. Danielsen klar, Redakteur des ersten schwulen Massenblatts Die Freundschaft. Kontaktanzeigen seien das finanzielle Rückgrat der Zeitschrift, so Danielsen.
Er stand wieder einmal vor Gericht, angeklagt wegen der „Verbreitung unzüchtiger Schriften und Kuppelei durch den Abdruck von Kontaktanzeigen“. Dabei - so Danielsen zu seiner Verteidigung - dienten die Anzeigen gar nicht der „Anbahnung von Verkehr“.
Im Prozess kam auch Magnus Hirschfeld als Sachverständiger zu Wort. Er bescheinigte der Freundschaft das Interesse, gleichgeschlechtliche Beziehungen auf eine höhere Stufe zu heben. Der Vorwurf der Kuppelei wurde fallengelassen, Danielsen aber wegen der Verbreitung unzüchtiger Inserate zu einer Strafe von 4.000 Mark verurteilt.
Dabei waren die Anzeigen vorsichtig und tugendhaft formuliert. Herren, „gebildet“, „elegant und hübsch“ suchten „Geselligkeit und Gedankenaustausch“ oder „gesellschaftlichen Anschluss“, auf keinen Fall aber „Dielenbesucher“, dafür „durchaus männlich und unauffällig“ und „mit Herzensbildung“.
Dieser Ton wurde beibehalten in den ersten Publikationen nach 1945. Auch hier sollten die Traumprinzen „aufrichtig und charaktervoll“ sein, „gebildet“ und „idealdenkend“. Im Mittelpunkt standen wieder „Gedankenaustausch“ und „Briefwechsel“, auf keinen Fall durfte ein sexuelles Interesse durchscheinen.
Die Angst, die beim Verlag hinterlegte Adresse für die Chiffreanzeige könnte bei einer Polizeirazzia beschlagnahmt werden, war zu groß.
Hinzu kam „Das Inserat für die Freundin“, homosexuelle Männer suchten auf diesem Weg eine Partnerin für eine Scheinheirat. Einzig beiläufige Hinweise auf Freude an Lederkleidung, Motor- und Reitsport waren für Eingeweihte verständlich.
1969, nach der Entkriminalisierung erwachsener schwuler Männer, drängten neue Homo-Magazine auf den Markt, und der Ton in den Kontaktanzeigen wurde offener und selbstbewusster. „Dauerfreundschaft“ war jetzt gefragt, in „gemeinsamer Wohnung“, und ein „männlicher Typ“ wurde gewünscht, „gutgebaut“, gern ein „Lederhosenbengel“ oder „Jeansboy“.
In späteren Jahren blieb dann kein Wunsch verborgen, eine „geile Ledersau“ sollte er sein, eine „willige Arschvotze“ oder „blas- und fickfreudig“. Damit war endgültig Schluss mit GayRomeo und Grindr. Nur etwas ist geblieben, von den Anfängen bis in die Moderne: „Tunten zwecklos“.
https://taz.de/Die-Wahrheit/!5033729/</p>

<br>
<br>
