<%# <h1>ABOUT PAGE</h1> %>
<div class="container">
<p>DU&ICH ist ein interaktives Archiv, eine textbasierte Plattform mit den Inhalten von 600 Anzeigen freundschaftssuchender Männer. Alle Anzeigen stammen aus deutschen Zeitschriften, die zwischen 1919 und 2000 erschienen sind.
</p>
</div>
