.adbodyphrases {
  font-family: 'ABC Diatype Semi-Mono Edu-Light';
  font-style: normal;
  font-weight: 263;
  font-size: 36px;
  line-height: 46px;
  color: #261824;
  flex: none;
  order: 0;
  flex-grow: 1;
  border-bottom: 0.5px solid #261824;
  // padding-top: 22px;
  margin: -12px;
  padding: 20px;
  margin-bottom: -4px;
  margin-top: 3px;
  width: 100vw;
  padding-top: 16px;
  padding-bottom: 16px;
}
