.adbodyphrases {
  font-family: 'ABC Diatype Semi-Mono Edu-Light';
  font-style: normal;
  font-weight: 263;
  font-size: 36px;
  line-height: 46px;
  color: #261824;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

.ads {
  border-bottom: 0.5px solid #261824;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}
