// *********************** GRID CLASSES ************************** //


.grid-phrases-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;

  // Reusing these ads ids (it should be classes!!!)
  #grid2-left,
  #grid2-right,
  #grid4-first,
  #grid4-second,
  #grid4-third,
  #grid4-fourth,
  #grid6-first,
  #grid6-second,
  #grid6-third,
  #grid6-fourth,
  #grid6-fifth,
  #grid6-sixth {
    border-left: 0.5px solid #261824;
    scrollbar-width: none;
  }
}

// Remove scrollbar from chrome
#grid2-left::-webkit-scrollbar {
  display: none;
}
#grid2-right::-webkit-scrollbar {
  display: none;
}
#grid4-first::-webkit-scrollbar {
  display: none;
}
#grid4-second::-webkit-scrollbar {
  display: none;
}
#grid4-third::-webkit-scrollbar {
  display: none;
}
#grid4-fourth::-webkit-scrollbar {
  display: none;
}
#grid6-first::-webkit-scrollbar {
  display: none;
}
#grid6-second::-webkit-scrollbar {
  display: none;
}
#grid6-third::-webkit-scrollbar {
  display: none;
}
#grid6-fourth::-webkit-scrollbar {
  display: none;
}
#grid6-fifth::-webkit-scrollbar {
  display: none;
}
#grid6-sixth::-webkit-scrollbar {
  display: none;
}

.phrases-rows-wrapper {
  width: 100vw;
  margin-top: 10px;
}

// All four grids have the same font-style
.phrases-grid::-webkit-scrollbar { // Remove scrollbar from chrome
  display: none;
}

.phrases-grid {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  height: 60px;

  p {
    min-width: max-content;
    font-family: "ABC Diatype Mono Edu-Light";
    font-style: normal;
    font-weight: 263;
    font-size: 16px;
    line-height: 13px;
    color: #261824;
    padding: 20px;
    margin-top: 3px;
  }
}
