.buttons {
  display: flex;
  height: 52px;
  width: 73px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  color: #261824;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 59px;
  font-size: 50px;
  margin-right: 43px;
  margin-bottom: -37px;
  box-sizing: border-box;

}

.buttons div > * {
  pointer-events: none;
}

.grid {
  height: 52px;
  width: 73px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  color: #261824;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 59px;
  font-size: 50px;
  margin-right: 43px;
  margin-bottom: -37px;
  box-sizing: border-box;
}


.grid2 {
  height: 52px;
  width: 73px;
  background: red;
  border: 0.5px solid #000000;
  color: #261824;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 59px;
  font-size: 50px;
  margin-right: 43px;
  margin-bottom: 80px;
  box-sizing: border-box;
}

// .view2 {
//   background-image: url(assets/images/grid2.svg);
//   background-size: cover;
// }

.grid4 {
  height: 52px;
  width: 73px;
  background: blue;
  border: 0.5px solid #000000;
  color: #261824;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 118px;
  font-size: 50px;
  margin-right: 43px;
  margin-bottom: -37px;
  box-sizing: border-box;
}

.grid6 {
  height: 52px;
  width: 73px;
  background: yellow;
  border: 0.5px solid #000000;
  color: #261824;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 59px;
  font-size: 50px;
  margin-right: 118px;
  margin-bottom: -37px;
  box-sizing: border-box;
}
