// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
// @import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

// html, body {
//   font-family: 'Dosis';
//   font-weight: 300;
// }

.title {
  font-family: 'Noto Sans Mono', monospace;
  font-style: normal;
  font-weight: 263;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #261824;
}

.left-title{
  text-align: left;
  font-family: 'Noto Sans Mono', monospace;
  font-style: normal;
  font-weight: 263;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
}

.right-title{
  font-family: 'Noto Sans Mono', monospace;
  font-style: normal;
  font-weight: 263;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  text-transform: capitalize;
}

.footer {
  width: 100%;
  height: 70px;
  border-top: 0.5px solid #261824;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // flex-shrink: 0;
}

.link {
  display: inline-block;
  padding: 15px 0;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  color: #261824;
  font-weight: 800;
  font-size: 24px;

  .bar {
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid #261824;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 300ms;
    color: #261824;
  }

  &:hover {
    .bar {
      opacity: 1;
      bottom: 5px;
      color: #261824;
    }
  }
}

a:hover {
  color:#261824;
}
