.navbar {
  position: sticky;
  top: 0px;
  background-color: #f9f9f9;

  font-family: 'ABC Diatype Variable Edu';
  font-size: 18px;
  font-style: normal;
  font-weight: 263;
  height: 60px;
  border-bottom: 0.5px solid #261824;

  padding-top: 0px;
  padding-bottom: 0px;

  display: flex;
  justify-content: center;
  align-items: center;


}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 0.5px solid #261824;
}


.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 18px;
  // font-weight: 263;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding-right: 25px;
  padding-left: 25px;


}

// .navbar a:hover, .subnav:hover .subnavbtn {
//   background-color: red;
// }

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;

  height: 60px;

  background-color: #f9f9f9;
  border-bottom: 0.5px solid #261824;
  border-top: 0.5px solid #261824;
}

.subnav-content a {
  float: left;
  color: black;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subnav1:hover .subnav-content1 {
  display: flex;
  align-items: baseline;
  overflow-x: auto;
}

.subnav1 {
  float: left;
  overflow: hidden;
}

.subnav1 .subnavbtn1 {
  font-size: 18px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.subnav-content1 {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  width: 100%;
  z-index: 1;

  border-bottom: 0.5px solid #261824;
  border-top: 0.5px solid #261824;
}

.subnav-content1 a {
  float: left;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.subnav-content1 a:hover {
  background-color: yellow;
  color: black;
}

// hide scroll bar, but have element scrollable
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */

  &::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
}
